<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon.ico">
<link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
<meta name="msapplication-TileColor" content="#0c1a2b">
<meta name="theme-color" content="#0c1a2b">
